html {
    box-sizing: border-box;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 400;
}

h1,
h2,
p {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: hsl(204, 43%, 93%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1rem;
}

#card {
    width: 32rem;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.35);
}

#top,
#bottom-left,
#bottom-right {
    padding: 1.8rem;
}

#top {
    width: 100%;
    height: 45%;
}

#top h1 {
    color: #2bb3b1;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
}

#top h2 {
    color: #c0df34;
    margin-bottom: 0.6rem;
}

#top p {
    color: #98a6bd;
    font-size: .85rem;
}

#bottom {
    display: flex;
    width: 100%;
    height: 55%;
    color: white;
}

#bottom-left {
    background-color: #2bb3b1;
    flex-basis: 50%;
}

#bottom-left h2,
#bottom-right h2 {
    margin-bottom: 1.25rem;
}

#bottom-left p {
    font-size: .8rem;
    margin-bottom: 1.4rem;
}

#price-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
}

#price {
    font-weight: 400;
    font-size: 1.5rem;
}

#price-frequency {
    font-size: .8rem;
    opacity: .7;
    margin-left: .5rem;
}

button {
    color: white;
    background: #c0df34;
    border: none;
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    font-weight: 700;
}

button:hover {
    cursor: pointer;
    background-color: #a9c42d;
}

#bottom-right {
    background-color: #4abebd;
    flex-basis: 50%;
}

#bottom-right ul {
    padding: 0;
    line-height: 1rem;
    list-style: none;
    font-size: .8rem;
    opacity: .7;
}

@media (max-width: 576px) {
    #card, #bottom-left, #bottom-right {
        width: 100%;
        height: 100%;
    }
    
    #bottom {
        flex-direction: column;
    }
}